@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 99.1vw;
    height: 100vh;
    font-family: "Teachers", sans-serif;
}

/* HEADER */
header{
    width: 99.1vw;
    height: 90%;
    color: white;
    background-image: url(/images/banner-bk.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header > .navbar{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    justify-content: center;
}

header > .navbar > .logo{
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: start;
}

.icon{
    width: 2.5rem;
    height: 2.5rem;
    margin: 3rem;
}

header > .navbar > .title {
    width: 70%;
    text-align: end;
    justify-content: center;
}

header > .navbar > .title > h3{
    font-size: 1.3rem;
    margin: 2.5rem;
}

header > .baner{
    width: 100%;
    height: 80%;
    flex-direction: column;
    text-align: start;
}

header > .baner > h1{
    font-size: 4rem;
    padding-left: 15rem;
    padding-top: 6rem;
}

header > .baner > p{
    font-size: 1rem;
    padding-left: 15rem;
}

header > .baner > .start{
    width: 5rem;
    height: 2.5rem;
    background-color: #06fcab;
    color: black;
    border: none;
    border-radius: 30px;
    margin-top: 4rem;
    margin-left: 15rem;
}

/*PRODUCTS */
.products {
    width: 99.1vw;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    width: 100%;
    height: 20%;
    text-align: center;
    padding: 3rem;
}
.container-products {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
}
.container-products > div {
    width: 20%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

/* CONTAINER 1 */
.container-1{
    width: 99.1vw;
    height: 50rem;
    margin-top: 5rem;
    background-image: url(/images/wave1.svg);
    background-size: cover;
    background-position: center;
}

.container{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.text{
    width: 50%;
    height: 100%;
    align-items: center;
    text-align: start;
    padding: 5rem;
}

.text > h2 {
    font-size: 2rem;
    text-align: start;
    padding: 0.3rem;
}

.text > .button{
    width: 7rem;
    height: 2rem;
    border: none;
    border-radius: 30px;
    background-color: #25304f;
    color: white;
}

.img{
    width: 50%;
    height: 100%;
    justify-content: end;
}

.img > img{
    height: 20rem;
    width: 25rem;
}

.other{
    padding-left: 9rem;
    padding-bottom: 1rem;
}

/* CONTAINER 2 */
.container-2 {
    width: 99.1vw;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    width: 100%;
    height: 20%;
    text-align: center;
    padding: 3rem;
}
.container-cards {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
}
.container-cards > .card {
    width: 26%;
    height: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    font-size: 1.2rem;
    padding: 1rem;
}

.container-cards > .card-1{
    width: 26%;
    height: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    background-color: #25304f;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
}

.container-cards > .card > h4{
    font-size: 2rem;
}

.container-cards > .card > p > span{
    font-size: 4rem;
}

.container-cards > .card > p {
    padding: 0.5rem;
}

.container-cards > .card-1 > h4{
    font-size: 2rem;
}

.container-cards > .card-1 > p > span{
    font-size: 4rem;
}

.container-cards > .card-1 > p {
    padding: 0.5rem;
}

.container-cards > .card > .button-free{
    width: 5rem;
    height: 2rem;
    background-color: white;
    border: 2px solid #25304f;
    color:  #25304f;
    border-radius: 30px;
    margin: 1.4rem;
}

.container-cards > .card-1 > .button-free1{
    width: 5rem;
    height: 2rem;
    background-color: #06fcab;
    border: none;
    color: #25304f;
    border-radius: 30px;
    margin: 1.4rem;
}

/* CONTAINER IMAGES */
.container-images{
    width: 99.1vw;
    height: 9rem;
    background-color: #d8d5d549;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.container-images > div{
    width: 15%;
    height: 8rem;
}

.container-images > img{
    width: 8rem;
    height: 7rem;
    margin: 3rem;
}

/* FORM */
.container-form{
    width: 99.1vw;
    height: 40rem;
    display: flex;
    background-image: url(/images/contact-bk.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.container-form > div{
    margin-right: 9rem;
    width: 25rem;
    color: white;
}

.container-form > div > h2{
    font-size: 3rem;
}

input{
    border: 1px solid  #06fcab;
    background-color: transparent;
    border-radius: 6px;
    padding: .2rem; 
    color: #fff;
    margin-right: 3rem;
}
.email{
    position: relative;
    right: -10rem;
}
label{
    color:  #06fcab;
}
textarea{
    width: 26rem;
    height: 5rem;
    background-color: transparent;
    border: 1px solid  #06fcab;
    border-radius: 6px;
}
form > button{
    margin-top: 1rem;
    width: 92%;
    padding: .5rem;
    background-color: #06fcab;
    color:#25304f;
    border: none;
    border-radius: 15px;
}

/* FOOTER */
footer{
    width: 99.1vw;
    height: 10rem;
    display: flex;
    background-color: #25304f;
    align-items: center;
    justify-content: center;
}

footer > .text-3{
    width: 50%;
    padding-left: 4rem;
    color: white;
}

footer > .text-3 > p{
    padding-left: 10rem;
}

footer > .social{
    width: 50%;
    height: 100%;
    list-style: none;
}

.social > li {
    padding-top: 1.3rem;
    display: inline-block;
}

.social > li > a > .icon{
    width: 2rem;
    height: 2rem;
}