@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 99.1vw;
    height: 100vh;
    font-family: "Teachers", sans-serif;
}

/* HEADER */
header{
    width: 100%;
    height: 90%;
    color: white;
    background-image: url(/images/banner-bk.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header > .navbar{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
}

header > .navbar > .logo{
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: start;
}

.icon{
    width: 2.5rem;
    height: 2.5rem;
    margin: 3rem;
}

header > .navbar > .title {
    width: 70%;
    text-align: end;
    justify-content: center;
}

header > .navbar > .title > h3{
    font-size: 1.3rem;
    margin: 2.5rem;
}

header > .baner{
    width: 100%;
    height: 80%;
    flex-direction: column;
    text-align: start;
    margin: 8rem
}

header > .baner > h1{
    font-size: 4rem;
}

header > .baner > .start{
    width: 8%;
    height: 10%;
    background-color: #06fcab;
    color: black;
    border: none;
    border-radius: 10px;
    margin-top: 4rem;
}

/*PRODUCTS */
.products {
    width: 100vw;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    width: 100%;
    height: 20%;
    text-align: center;
    padding: 3rem;
}
.container-products {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
}
.container-products > div {
    width: 20%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

/* CONTAINER 1 */

.trapecio {
    width: 100vw;
    height: 50rem;
    background-color: #06fcab;
    clip-path: polygon(0 51%, 100% 0%, 100% 100%, 0% 100%);
    
    position: absolute;
}

.container-1{
    width: 100vw;
    height: 50rem;
    /* display: flex; */
    margin-top: 5rem;
}

.container{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.text{
    width: 50%;
    height: 100%;
    align-items: center;
    text-align: start;
    padding: 5rem;
}

.text > h2 {
    font-size: 2rem;
    text-align: start;
    padding: 0.3rem;
    margin-bottom: 1rem;
}

.text > .button{
    width: 7rem;
    height: 2rem;
    border: none;
    border-radius: 30px;
    background-color: #25304f;
    color: white;
    margin: 2rem;
}

.img{
    width: 50%;
    height: 100%;
    justify-content: end;
}

.img > img{
    height: 20rem;
    width: 25rem;
    margin: 0 auto;
}

.other{
    padding-left: 10rem;
    padding-bottom: 1rem;
}